* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipografía */

body {
    font-family: sans-serif;
    font-size: 16px;
    color: #336633;
}

/* Contenedor principal */

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Lista de partidas */

#lista-partidas {
    margin: 5%;
    float: left;
    width: 30%;
    border: 1px solid #336633;
    padding: 10px;
    margin-right: 20px;
    background-color: #77dd77;
}

#lista-partidas h2 {
    font-size: 18px;
    margin-top: 0;
    color: #336633;
}

#lista-partidas ul {
    list-style: none;
    padding: 0;
}

#lista-partidas ul li {
    margin-bottom: 5px;
}

#lista-partidas ul li a {
    text-decoration: none;
    color: #336633;
    font-weight: bold;
}

/* Formulario de partida */

#formulario-partida {
    margin-top: 5%;
    margin-right: 5%;
    float: right;
    width: 50%;
    border: 1px solid #336633;
    padding: 20px;
    background-color: #77dd77;
}

#formulario-partida h2 {
    font-size: 18px;
    margin-top: 0;
    color: #336633;
}

#formulario-partida label {
    display: block;
    margin-bottom: 5px;
    color: #336633;
}

#formulario-partida input {
    width: 100%;
    padding: 5px;
    border: 1px solid #336633;
    font-size: 16px;
}

#formulario-partida button {
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #336633;
    background-color: #336633;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}